<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="">name</label>
        <input type="text">
        <label for="">password</label>
        <input type="password">
        <label for="">phonenumber</label>
        <input type="number">
        <button><a href="/">Home</a></button>
        <button><a href="/login">login in here</a></button>
    </form>
</body>
</html>